body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tree-wrapper {
  padding: 10px;
}
.tree-wrapper.hidden {
  display: none;
}
.tree-wrapper .tree-title {
  font-size: 20px;
  font-weight: 600;
}
.tree-wrapper ul {
  margin: 0;
  padding: 1px 0px 1px 25px;
  list-style: none;
  font-size: 18px;
}
.tree-wrapper ul li {
  padding: 2px 0;
}
.tree-wrapper ul button {
  margin: 0 2px;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
}
.tree-wrapper ul input {
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
